html
  head
    title= title
    link(rel="stylesheet", href="/css/style.css")
  body
    h1= header1
    img(src="./img/cat.jpg", alt="cat Image")
    p= birthday
    p= weight

    script(src = "./js/main.js")